@use "sass:math";

/// @name make-col-ready
/// @since 23.05.2023
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify-grid Sassify Grid
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @prop {number} $gutter [$dvalues--gutter-width]
@mixin make-col-ready($gutter: $dvalues--gutter-width) {
	position: relative;
	// Prevent columns from becoming too narrow when at smaller grid tiers by
	// always setting `width: 100%;`. This works because we use `flex` values
	// later on to override this initial width.
	width: 100%;
	padding-right: $gutter * 0.5;
	padding-left: $gutter * 0.5;
}
