@use "sass:math";
@use '../../config' as *;

/// @name make-row
/// @since 23.05.2023
/// @access public
/// @author Haba Kudzaev (therteenten)
/// @author The Bootstrap Authors
/// @link https://github.com/therteenten/sassify-grid Sassify Grid
/// @link https://github.com/twbs/bootstrap Bootstrap GitHub
/// @prop {number} $gutter [$dvalues--gutter-width]
@mixin make-row($gutter: $dvalues--gutter-width) {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gutter * 0.5;
	margin-left: -$gutter * 0.5;
}
