@forward 'default-values';

/// @name setting--create-class__no-gutters
/// @since 23.05.2023
/// @access public
/// @type boolean
$setting--create-class__no-gutters: true !default;

/// @name setting--create-class__row
/// @since 23.05.2023
/// @access public
/// @type boolean
$setting--create-class__row: true !default;

/// @name setting--create-class__container-fluid
/// @since 23.05.2023
/// @access public
/// @type boolean
$setting--create-class__container-fluid: true !default;

/// @name setting--create-class__container
/// @since 23.05.2023
/// @access public
/// @type boolean
$setting--create-class__container: true !default;

/// @name setting--minimal-reset
/// @since 23.05.2023
/// @access public
/// @type boolean
$setting--minimal-reset: true !default;

/// @name $setting--class-naming
/// @since 23.05.2023
/// @access public
/// @type map
/// @prop {string} $setting--class-naming.container [container] - название класса `container`
/// @prop {string} $setting--class-naming.container-fluid [container-fluid] - название класса `container-fluid`
/// @prop {string} $setting--class-naming.row [row] - название класса `row`
/// @prop {string} $setting--class-naming.col [col] - название класса `col-*`
/// @prop {string} $setting--class-naming.order [order] - название класса `order-*`
/// @prop {string} $setting--class-naming.offset [offset] - название класса `offset-*`
/// @prop {string} $setting--class-naming.first [first]
/// @prop {string} $setting--class-naming.last [last]
/// @prop {string} $setting--class-naming.auto [auto]
$setting--class-naming: (
	'container': 'container',
	'container-fluid': 'container-fluid',
	'row': 'row',
	'col': 'col',
	'order': 'order',
	'offset': 'offset',
	'first': 'first',
	'last': 'last',
	'auto': 'auto'
) !default;
